:root.theme-light {
  --accent-color: #ff8dcb;
  --color-bg: #FFF1F7;
  --color-text: #353430;
  --color-title: #ff8dcb;
  --color-title-decor-bg: #ff8dcb;
  --color-title-decor-text: #353430;
  --color-heading-big: #ff8dcb;
  --color-nav-text: #353430;
  --color-nav-active-outline: #353430;
  --color-link: #353430;
  --color-link-shadow: rgba(255, 141, 203, 0.5);
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --color-bg: #fff;
    --color-text: #353430;
    --color-title: #ff8dcb;
    --color-title-decor-bg: #ff8dcb;
    --color-title-decor-text: #fff;
    --color-heading-big: #ff8dcb;
    --color-nav-text: #353430;
    --color-nav-active-outline: #353430;
    --color-link: #353430;
    --color-link-shadow: rgba(255, 141, 203, 0.5);
    --bg-image: url('../images/cover-image-light.png');
  }

  .header__rec {
    display: none;
  }
}