:root {
  --accent-color: #ff0070;
  --color-bg: #000028;
  --color-text: #f1b2f1;
  --color-title: #ff0070;
  --color-title-decor-bg: #ff0070;
  --color-title-decor-text: #000028;
  --color-heading-big: #ff77ff;
  --color-nav-text: #ff77ff;
  --color-nav-activate-outline: #ff77ff;
  --color-link: #ff77ff;
  --color-link-shadow: rgba(255, 0, 112, 0.5);
  --bg-image: url('../images/cover-image-dark.png');
  --font-family: 'IBM Plex mono', 'Courier New', monospace;
}
